body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(img/banner.png);
    background-size: cover;
    color: white;
    border-top: 10px solid rgb(83, 198, 94);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    
}

.banner > div{
    width: 400px;
}

.banner h1{
    font-family: 'Pacifico';
    font-size: 48px;
    position: relative;
    margin-top: 0;
}

.banner h1 span{
    width: 10px;
    height: 10px;
    display: block;
    background-color: rgb(83, 198, 94);
    border-radius: 100%;
    position: absolute;
    top: 44px;
    left: 135px;
}

.banner p{
    font-size: 20px;
}

.banner > img{
    width: 250px;
    align-self: flex-end;
    display: none;
}

.banner .icones img:hover{
    background-color: rgb(83, 198, 94);
}

.banner .icones img{
    width: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

@media(min-width: 768px){
    .banner{
        height: 38vw;
        padding: 0 100px;
    }
    
    .banner > img{
        display: block;
    }
    
}

@media(min-width: 1024px){
    .banner{
        height: 38vw;
        padding: 0 200px;
    }
    
    .banner > img{
        width: 378px;
        display: block;
    }
}

.menu{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    
    
}

.menu > div{
    margin: 0 50px 0 50px;
    padding-top: 50px;
}
.icone{
    background-color: rgb(83, 198, 94);
    margin-right: 10px;
    border-radius: 100%;
    padding: 20px;
}

.texto{
    text-align: center;
    text-decoration-color:dimgrey;
}

@media(min-width: 768px){
    .menu{
        height: 20vw;
        padding: 50px 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    
    .menu > .icone{
        display: block;
    }
    
}
@media(min-width: 1024px){
    .menu{
        height: 20vw;
        padding: 0 200px;
    }
    
    .menu > .icones{
        width: 350px;
        display: block;
    }
}

.secao3{
    background-color: dimgrey;
    display: flex;
    margin: 0%;
    padding: 50px;
    flex-direction: initial;
    padding-left: 20px;
    text-align: left;
    
}
iframe{
    border-radius: 80px;
    
}
input{
    border-radius: 15px;
    width: 400px;
    height: 30px;
    padding: 10px;
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 0;
}
.pessoas{
    text-align: center;
    display: block;
}
.caixa{
    display: flex;
    
}
button{
    border-radius: 0px 15px 15px 0px;
    border: 0;
    width: 95px;
    height: 50px;
    padding: 10px;
    background-color: rgb(83, 198, 94);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: -70px;
    color: white;
    
}
@media(min-width: 768px){
    .secao3{
    
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: space-around;
    }
    
    .secao3 > .iframe{
        display: block;
    }
    
}
@media(min-width: 1024px){
    .secao3{
      text-align: left;
      align-items: center;
    }
    
    .secao3 > .iframe{
        display: block;
    }
}
footer{
    align-items: center;
    text-align: center;
}
footer > button{
    display: inline-block;

}